:root {
  --app-brand-colour: #006660;
  --app-surface-colour: #80B3B0;
  --app-colour-pink: #F499BE;
}

.orderable a {
    position: relative;
    display: inline-flex;
    padding-right: 10px;
}

.orderable a:before {
    content: '▼';
    color: var(--govuk-link-colour);
    position: absolute;
    right: -4px;
    margin-top: 0px;
    top: 50%;
    font-size: .5em;
}

.orderable a:after {
    content: '▲';
    color: var(--govuk-link-colour);
    position: absolute;
    right: -4px;
    margin-top: -8px;
    top: 50%;
    font-size: .5em;
}

.desc a:after {
    content: '▲';
    font-size: .8em;
    position: absolute;
    right: -6px;
    margin-top: -8px;
    top: 50%;
}

.desc a:before {
    content: '';
}

.asc a:after {
    content: '▼';
    font-size: .8em;
    position: absolute;
    right: -6px;
    margin-top: -8px;
    top: 50%;
}

.asc a:before {
    content: '';
}


th.orderable.govuk-table__header:last-child {
    padding-right: 10px;
}

.scrollable-table {
    padding: 0 16px;
    max-height: 1000px;
    overflow-y: auto;
}

.scrollable-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--govuk-body-background-colour);;
}

.scrollable-table tbody th {
    position: sticky;
    left: 0;
}

.app-band {
  background-color: var(--app-band-colour);
  box-shadow: 0 0 0 100vmax var(--app-band-colour);
  clip-path: inset(0 -100vmax);
}

.app-band--brand {
  --app-band-colour: var(--app-brand-colour);
}

.app-band--brand h1,
.app-band--brand p,
.app-band--brand img {
  color: var(--govuk-inverse-text-colour);
}

.app-band--grey {
  --app-band-colour: var(--govuk-template-background-colour);
}

.app-brand-border-bottom {
  border-bottom-color: var(--app-surface-colour);
}

.app-brand-border-top {
  border-top-color: var(--app-brand-colour);
}

/* App-wide overrides of the GOV.UK layout classes */
.govuk-width-container {
  max-width: 95%;
}

.govuk-main-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 40.0625em) {
  .govuk-main-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.govuk-breadcrumbs {
  margin-bottom: 0;
}

.max-width-none {
    max-width: none;
}

.app-tag--nowrap {
  white-space: nowrap;
  max-width: 100%;
}

.govuk-notification-banner__heading-error {
  color: var(--govuk-error-colour);
}

/* HERO BANNER */

.mhclg-crest {
  max-width: 100%;
  height: auto;
}

.hero-banner-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.moj-filter__tag::after {
    background-image: url("/static/moj-frontend/assets/images/icon-tag-remove-cross.svg");
}

.moj-filter__tag:hover::after {
    background-image: url("/static/moj-frontend/assets/images/icon-tag-remove-cross-white.svg");
}

button.govuk-link {
  all: unset;
  color: var(--govuk-link-colour);
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
}

input[type=text]:disabled {
  border-style: none;
  opacity: 1;
  cursor: auto;
}

/*
Required to make drop down arrow visible
see https://github.com/alphagov/accessible-autocomplete/issues/351
*/
.autocomplete__dropdown-arrow-down {
    z-index: 0 !important;
    pointer-events: none;
}

.custom-govuk-side-card h1 {
  border-top: 5px solid var(--govuk-brand-colour);
}

.custom-govuk-side-card .govuk-summary-list__key,
.custom-govuk-side-card .govuk-summary-list__value,
.custom-govuk-side-card div,
.custom-govuk-side-card span {
  font-size: 1rem;
  line-height: 1.25rem;
}

/*Timeline component*/
.timeline-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

/*Creates the vertical line*/
.timeline-list::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: var(--app-brand-colour);
}

.timeline-item {
  position: relative;
  padding-left: 34px;
}

/*Creates the horizontal line per item*/
.timeline-item::before {
  content: '';
  position: absolute;
  left: 17px;
  top: 0.6em;
  width: 7.5px;
  height: 5px;
  background-color: var(--app-brand-colour);
}

/*Creates the end of timeline horizontal line*/
.timeline-item[data-final="True"]::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 29px;
  height: 5px;
  background-color: var(--app-brand-colour);
}

/* Hide cookie consent banner by default
   Display via JS if consent cookie not set
   If JS is disabled there will be no analytics anyway
*/
.govuk-cookie-banner {
    display: none;
}

/* Reduces bottom padding to allow rows in wrapped list */
@media (min-width: 40.0625em) {
  .govuk-frontend-supported .govuk-tabs.tabs--tight .govuk-tabs__list-item.govuk-tabs__list-item--selected {
      padding: 14px 19px 11px !important;
  }
}

.pink-banner .govuk-tag {
  background-color: var(--app-colour-pink);
  color: var(--govuk-text-colour);
  max-width: none;
}

.app-card {
  margin-bottom: 40px;
  background: var(--govuk-body-background-colour);
  border-bottom: 6px solid var(--app-brand-colour);
  position: relative;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}

.app-card__flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.app-card__flex-item {
  display: flex;
  overflow: hidden;
  min-width: 0;
}

.app-card__heading,
.app-card__description {
  overflow-wrap: break-word;
}

.app-card__heading {
  margin-top: 0;
  margin-bottom: 15px
}

.app-card__description {
  margin-bottom: 0
}

.app-card--clickable {
  background-color: var(--govuk-surface-background-colour);
  border-bottom-width: 6px
}

.app-card__link {
  color: var(--govuk-link-colour);
  text-decoration: none;
}

.app-card__link:hover,
.app-card__link:active {
  text-decoration: none;
}

.app-card__link::after {
  content: "";
  position: absolute;
  inset: 0 0 -6px;
}

.app-card__link:focus:not(:focus-visible)::after {
  outline: 3px solid var(--govuk-focus-colour);
  outline-offset: -3px;
}

.app-card--clickable:is(:hover, :active) {
  cursor: pointer;
  background-color: var(--govuk-secondary-text-colour);
  border-bottom-color: var(--govuk-input-border-colour);
  border-bottom-width: 6px;
}

.app-card--clickable:is(:hover, :active) .app-card__heading,
.app-card--clickable:is(:hover, :active) .app-card__description {
  color: var(--govuk-inverse-text-colour);
}

.app-card--clickable:is(:hover, :active) .app-card__link:not(:focus) {
  color: var(--govuk-inverse-text-colour);
}

.app-card--clickable:has(.app-card__link:focus-visible) {
  background-color: var(--govuk-focus-colour);
  border-bottom-color: var(--govuk-focus-text-colour);
}

.app-card--clickable:has(.app-card__link:focus-visible) .app-card__heading,
.app-card--clickable:has(.app-card__link:focus-visible) .app-card__description,
.app-card--clickable:has(.app-card__link:focus-visible) .app-card__link {
  color: var(--govuk-focus-text-colour);
}

.app-card--clickable:has(.app-card__link:focus-visible) .app-card__link {
  box-shadow: none;
}

.app-card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding: 0
}

@media(max-width: 48.0525em) {
  .app-card-group {
    margin-bottom:30px
  }
}

.app-card-group__item {
  /* The min-height is our own style decision  */
  min-height: 220px;
  display: flex;
  list-style-type: none;
  margin-bottom: 0
}

@media(max-width: 48.0525em) {
  .app-card-group__item {
    flex:0 0 100%
  }
}

.app-card-group__item .app-card {
  margin-bottom: 25px
}

@media(max-width: 48.0525em) {
  .app-card-group__item .app-card {
    margin-bottom:15px
  }

  .app-card-group__item:last-child .app-card {
    margin-bottom: 0
  }
}

/*Card badge*/
.app-card-badge-circle.app-card-badge--active {
    background-color: var(--govuk-error-colour);
}
.app-card-badge-circle.app-card-badge--inactive {
    background-color: var(--govuk-secondary-text-colour);
}

.app-card-badge-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--govuk-body-background-colour);
  text-align: center;
  box-sizing: border-box;
  position: relative;
  padding: 0;
}

.app-card-badge-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--govuk-inverse-text-colour);
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  user-select: none;
}

.app-card-badge-value[data-app-card-badge-size="compact"] {
  font-size: 0.79rem;
}

.app-card-badge-value[data-app-card-badge-size="overflow"] {
  font-size: 0.65rem;
}

.app-card-header {
  display: flex;
  justify-content: flex-start;
}

.app-card-badge-container {
  position: absolute;
  top: 25px;
  right: 12px;
  z-index: 2;
}

.app-card--clickable:is(:hover, :active):not(:has(.app-card__link:focus-visible)) .app-card-badge-circle.app-card-badge--inactive {
  background-color: var(--govuk-body-background-colour);
}

.app-card--clickable:is(:hover, :active):not(:has(.app-card__link:focus-visible)) .app-card-badge-circle.app-card-badge--inactive .app-card-badge-value {
  color: var(--govuk-text-colour);
}

.govuk-\!-secondary-text-colour {
  color: var(--govuk-secondary-text-colour)
}
