<header class="govuk-template__header">
    <div class="govuk-generic-header govuk-generic-header--full-width-border">
        <div class="govuk-generic-header__container govuk-width-container">
            <div class="govuk-generic-header__logo">
                <a href="{% url 'webapp:landing-page' %}"
                   class="govuk-generic-header__homepage-link">{{ SERVICE_NAME }}</a>
            </div>
        </div>
    </div>
    {% if available_links or user.is_authenticated %}
        <section aria-label="Service information"
                 class="govuk-service-navigation app-brand-border-bottom"
                 data-module="govuk-service-navigation">
            <div class="govuk-width-container">
                <div class="govuk-service-navigation__container">
                    <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                        <button type="button"
                                class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                                aria-controls="navigation"
                                hidden>Menu</button>
                        <ul class="govuk-service-navigation__list" id="navigation">
                            {% with app_name=request.resolver_match.app_name %}
                                {% if available_links.visa_applications %}
                                    <li class="govuk-service-navigation__item{% if app_name == 'visa-applications' %} govuk-service-navigation__item--active{% endif %}">
                                        <a href="{% url 'visa-applications:visa-applications' %}"
                                           class="govuk-service-navigation__link"
                                           {% if app_name == 'visa-applications' %}aria-current="true"{% endif %}>Visa applications</a>
                                    </li>
                                {% endif %}
                                {% if available_links.guests %}
                                    <li class="govuk-service-navigation__item {% if app_name == 'guests' %}govuk-service-navigation__item--active{% endif %}">
                                        <a href="{% url 'guests:guests' %}"
                                           class="govuk-service-navigation__link"
                                           {% if app_name == 'guests' %}aria-current="true"{% endif %}>Guests</a>
                                    </li>
                                {% endif %}
                                {% if available_links.sponsors_hosts %}
                                    <li class="govuk-service-navigation__item {% if app_name == 'sponsors' %}govuk-service-navigation__item--active{% endif %}">
                                        <a href="{% url 'sponsors:sponsors' %}"
                                           class="govuk-service-navigation__link"
                                           {% if app_name == 'sponsors' %}aria-current="true"{% endif %}>Sponsors and hosts</a>
                                    </li>
                                {% endif %}
                                {% if available_links.accommodation %}
                                    <li class="govuk-service-navigation__item {% if app_name == 'accommodations' %}govuk-service-navigation__item--active{% endif %}">
                                        <a href="{% url 'accommodations:accommodations' %}"
                                           class="govuk-service-navigation__link"
                                           {% if app_name == 'accommodations' %}aria-current="true"{% endif %}>Accommodation</a>
                                    </li>
                                {% endif %}
                                {% if available_links.accommodation_requests %}
                                    <li class="govuk-service-navigation__item {% if app_name == 'accommodation-requests' %}govuk-service-navigation__item--active{% endif %}">
                                        <a href="{% url 'accommodation-requests:accommodation-requests' %}"
                                           class="govuk-service-navigation__link"
                                           {% if app_name == 'accommodation-requests' %}aria-current="true"{% endif %}>Accommodation requests</a>
                                    </li>
                                {% endif %}
                                {% if available_links.download_data %}
                                    <li class="govuk-service-navigation__item {% if app_name == 'downloads' %}govuk-service-navigation__item--active{% endif %}">
                                        <a href="{% url 'downloads:download-page' %}"
                                           class="govuk-service-navigation__link"
                                           {% if app_name == 'downloads' %}aria-current="true"{% endif %}>Download data</a>
                                    </li>
                                {% endif %}
                                {% if user.is_authenticated %}
                                    <li class="govuk-service-navigation__item {% if app_name == 'user-management' %}govuk-service-navigation__item--active{% endif %}">
                                        <a href="{% url 'user-management:access-request-intro' %}"
                                           class="govuk-service-navigation__link"
                                           {% if app_name == 'user-management' %}aria-current="true"{% endif %}>Request access</a>
                                    </li>
                                {% endif %}
                            {% endwith %}
                            {% if user.is_authenticated %}
                                <li class="govuk-service-navigation__item" style="margin-left: auto;">
                                    <form action="{% url 'accounts:logout' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit"
                                                class="govuk-link govuk-link--no-visited-state govuk-service-navigation__link"
                                                data-module="govuk-button">Sign out</button>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    {% endif %}
    {% if environment == "dev" or environment == "staging" %}
        {% include "webapp/components/environment_banner/environment_banner.html" %}
    {% endif %}
    {% include "webapp/components/phase_banner/phase_banner.html" %}
</header>
