<!-- djlint:off D018 -->
{% load static %}
<!DOCTYPE html>
<html lang="en" class="govuk-template">
    <head>
        <meta charset="utf-8">
        <title>Sorry, there is a problem with the service - GOV.UK - Homes for Ukraine</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#0b0c0c">
        <link rel="icon"
              sizes="48x48"
              href="{% static 'gds/assets/images/favicon.ico' %}"
              type="image/x-icon">
        <link rel="icon"
              sizes="any"
              href="{% static 'gds/assets/images/favicon.svg' %}"
              type="image/svg+xml">
        <link rel="mask-icon"
              href="{% static 'gds/assets/images/govuk-icon-mask.svg' %}"
              color="#0b0c0c">
        <link rel="apple-touch-icon"
              href="{% static 'gds/assets/images/govuk-icon-180.png' %}">
        <link rel="manifest" href="{% static 'gds/assets/manifest.json' %}">
        <link rel="stylesheet"
              href="{% static 'gds/govuk-frontend-6.4.0.min.css' %}">
        <link rel="stylesheet" href="{% static 'moj-frontend/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/dwp.css' %}">
        <link rel="stylesheet"
              href="{% static 'accessible-autocomplete/accessible-autocomplete.min.css' %}">
    </head>
    <body class="govuk-template__body">
        <a href="#main-content"
           class="govuk-skip-link"
           data-module="govuk-skip-link">Skip to main content</a>
        <header class="govuk-template__header">
            <div class="govuk-generic-header govuk-generic-header--full-width-border govuk-!-display-none-print">
                <div class="govuk-generic-header__container govuk-width-container">
                    <div class="govuk-generic-header__logo">
                        <a href="/" class="govuk-generic-header__homepage-link">Share Homes for Ukraine data</a>
                    </div>
                </div>
            </div>
            {% include "webapp/components/phase_banner/phase_banner.html" %}
        </header>
        <div class="govuk-width-container printable-area">
            <main class="govuk-main-wrapper" id="main-content">
                {% include "webapp/components/heading/heading.html" with page_heading="Sorry, there is a problem with the service" %}
                <p class="govuk-body">Try again later.</p>
                <h2 class="govuk-heading-m govuk-!-padding-top-3">Guidance and support</h2>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-body-s govuk-link"
                           href="https://khub.net/group/homes-for-ukraine-and-ukraine-permissions/group-wiki">Training and guidance for Share</a>
                    </li>
                    <li>
                        <a class="govuk-body-s govuk-link"
                           href="https://www.gov.uk/government/collections/homes-for-ukraine-council-guides">Homes for Ukraine: council guides on GOV.UK</a>
                    </li>
                    <li>
                        <a class="govuk-body-s govuk-link"
                           href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/7">Raise a support ticket</a>
                    </li>
                </ul>
                <h3 class="govuk-heading-s">Contact us</h3>
                <p class="govuk-body-s">
                    Phone: 0303 4444 445
                    <br>
                    Monday to Friday, 9am to 6pm
                    <br>
                    <a class="govuk-body-s govuk-link"
                       href="https://www.gov.uk/call-charges">Find out about call charges</a>
                </p>
            </main>
        </div>
        {% include "webapp/components/footer/footer.html" %}
        <script type="module" src="{% static 'gds/govuk-frontend-6.4.0.min.js' %}"></script>
    </body>
</html>
<!-- djlint:on -->
